.heading{
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 20px;
}

.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container{
    width: 90%;
    margin: auto;
    color: rgb(44, 44, 44);
}

.skillTop{
    width: 300px;
    padding: 15px 15px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}
.skill{
    font-size: 25px;
}
.des{
    font-size: 17px;
}
.tech{
    margin-top: 20px;
    font-size: 18px;
    text-decoration: underline;
    letter-spacing: 8px;
    text-align: center;
}

.skillset{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.icon{
    font-size: 45px;
}
.skillname{
    font-size: 20px;
}

.techContainer{
    width: 90%;
    margin: auto;
    padding-top: 15px;
}
.first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

@media only screen and (max-width:670px){
    .top{
        justify-content: center;
    }
}